
@keyframes open {
    0%   { rotate: 15deg; }
    50%  { rotate:  0deg; }
    100% { rotate: 15deg; }
}

body {
    all: unset;
}

main {
    width:  100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 20%;
    rotate: 15deg;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}
